

*{
  margin: 0%;
  padding: 0%;
  background-image: url(/assets/img/bg.gif);
  background-size: cover;
}

body{
  background-image: none;
}
.content{
  margin: 15%;
  background-image: none;
  border-radius: 4rem;
}

.content2{
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 0, 255, 0.548);
  background-image: none;
  border-radius: 4rem;
}
.logo{
  padding: 3%;
  background-color: transparent;
  background-image: none;
}

.logo img{
  background-color: transparent;
  background-image: none;
  
}


.description{
  padding: 3%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  background-image: none;


}

.description h1{
color: skyblue;
background-color: transparent;
background-image: none;
font-weight: bolder;
font-size: 4rem;
}

.description p{
  color: rgb(250, 236, 40);;
  background-color: transparent;
  background-image: none;
  font-weight: bold;
  font-size: 30px;
}

.Join{
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Join:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-Join 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-Join {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.Join:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.HB{
  background-image: none;
  transition: transform .2s;
}

.HB:hover{
  transform: scale(1.5);
}

.HB a{
  text-decoration: none;
}

.FB{

  background-image: none;
  transition: transform .2s;
}
.FB a{
  text-decoration: none;
}

.FB:hover{
  transform: scale(1.5);
}

.buttons{
  display: flex;
  flex-direction: row;
  background-image: none;
  padding-top: 2rem;
  gap: 2rem;
 
}
